body {
	line-height:  1.5rem;
	width:  100%;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

section {
	display: block;
	margin: 0 auto;
	padding: 4rem;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: grid;
	display: flex;
	flex-wrap: wrap;
}

li {
	padding: 1rem;
	margin: 0.5rem;
	text-align: center;
	flex-basis: 30rem;
	flex-grow: 1;
	flex-shrink: 1;
}

.alert {
	background-color: red;
	color: white;
}

.success {
	background-color: green;
	color: white;
}

footer {
	padding: 0 4rem;
	text-align: center;
}